.s-pages{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
/*第一页*/
.s-pages1{
    background-image: url("../images/bg1.png");
}
.desc-icon{
    width: 49%;
    margin: 25% auto 8%;
}
.desc-icon1{
    position: absolute;
    top: 1%;
    left: 50%;
    margin-left: -23% !important;
}
.desc-icon1-sdw{
    width: 49%;
    margin: 26% auto 12%;
}
.desc-top{
    width: 40%;
    margin: 0 auto;
    opacity: .88;
}
.desc-top1 {
    width: 68%;
    margin: 0 auto;
    opacity: .88;
}
.desc-btm{
    opacity: .88;
    width: 42%;
    margin: 16px auto;
}
.sunrise{
    position: absolute;
    top: 62.5%;
    width: 50%;
    left: 50%;
    margin-left: -24%;
}
.s-pages2{
    background-image: url("../images/bg2.png");
}
/*第二页*/
.desc-icon2{
    width: 58%;
}
.desc-text{
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin-top: 18px;
}
.desc-box{
    text-align: center;
    margin-top: 22px;
}
.desc-box span{
    color: #fff;
    font-size: 14px;
    border: 1px solid #fff;
    padding: 3px 5px;
    border-radius: 5px;
}
.desc-close{
    position: absolute;
    bottom: -70px;
    left: 50%;
    display: inline-block;
    width: 26px;
    margin-left: -13px;
    opacity: .8;
}
.desc-model{
    position: absolute;
    top: 17%;
    margin:0 10%;
}
.desc-model .modal-body{
    line-height: 26px;
    padding: 0 15px;
    color: #666;
}
.desc-model .modal-header {
    padding: 20px 0 15px 0;
}
.desc-model .modal-footer{
    border: none;
}
.model-bac{
    position: absolute;
    z-index: 1000;
    width: 88%;
    left: 50%;
    margin-left: -44%;
    top: 3%;
}
.desc-model-title{
    border-bottom: none;
}
.desc-model-close{
    border-bottom: none!important;
}
.desc-model-title h4{
    text-align: center;
    font-size: 18px;
}
/*第三页*/
.s-pages3{
    background-image: url("../images/bg3.png");
}
/*第四页*/
.s-pages4{
    background-image: url("../images/bg4.png");
}
/*第五页*/
.s-pages5{
    background-image: url("../images/bg5.png");
}
/*第六页*/
.s-pages6{
    background-image: url("../images/bg6.png");
}
/*第七页*/
.s-pages7{
    background-image: url("../images/bg7.png");
}
.desc-top7{
    width: 26%;
}
.desc-btm2{
    width: 62%;
}
.desc-icon7{
    margin: 35% auto 12%;
}
.pageUp {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%)
}
.s-pages,.app-page, .page-wrap, body, html {
     height: 100%;
     width: 100%;
     overflow: hidden;
     top: 0;
     left: 0;
     background-color: #fff;
     -webkit-transition: -webkit-transform .4s ease-in-out;
     transition: transform .4s ease-in-out
 }
.page-wrap {
    position: relative
}
.app_pages{
    height: 100%;
    position: absolute;
}
.app_page{
    position: relative;
    width: 100%;
    height: 100%;
}
.cloud{
    position: absolute;
    width: 88%;
    left: 50%;
    top: 5%;
    margin-left: -44%;
    z-index: 1000;
}
.cloud{
    animation-duration: 3s;
    -webkit-animation-duration:3s
    animate-delay: 1s;
    -webkit-animation-delay: 1s;
}
.sunrise{
    animation-duration: 6s;
    -webkit-animation-duration:6s
    animate-delay: 1s;
    -webkit-animation-delay: 1s;
}
.up{
    position: absolute;
    width: 24px;
    z-index: 1000;
    bottom: 22px;
    left: 50%;
    margin-left: -12px;
    animation-duration: 2s;
    -webkit-animation-duration:2s
}

@media screen and (max-height: 500px) {
    .desc-icon1-sdw{
        margin: 10% auto;
    }
    .desc-icon1{
        top:-6%;
    }
    .sunrise{
        top: 61.6%;
    }
    .desc-icon{
        margin: 20% auto 8%;
    }
}
@media screen and (max-width: 340px){
    .desc-text{
        font-size: 16px;
    }
    .desc-model .modal-body{
        font-size: 12px;
        line-height: 22px;
    }
}
@media screen and (width: 360px){
    .sunrise{
        top: 62.6%;
    }
}
