@charset "utf-8";
/* 竖屏样式 */
@media all and (orientation : portrait){
    *{
        padding:0px;margin:0px;
    }
    p.title{
        position:absolute;
        top: 5%;
        font-size:32px;
        color:#fff;
        width: 100%;
        text-align: center;
        font-weight:bold;
    }
    p.time{
        position: absolute;
        top:13%;
        font-size:14px;
        color:#fff;
        width: 100%;
        text-align: center;
    }

    content{
        width:100%;
        position: absolute;
        top:38%;
    }
    content section,content section img{
        width:100%;position: relative;
    }

    #sct1,#sct2,#sct3,#sct4{
        margin-bottom: 15px;
    }

    .sec{
        width:100%;
    }
    #sct1 img{
        width: 90%;
        left: 5%;
    }
    #sct2 img,#sct4 img{
        width: 70%;
        left: 25%;
    }
    #sct3 img,#sct5 img{
        width: 70%;
        left: 5%;
    }

    .sct p{
        position:relative;
        top:-65px;
        color: #fff;
        font-size:24px;
        font-weight:bold;
    }

    #sct1 p,#sct3 p,#sct5 p{
        margin-left:27%;
    }
    #sct2 p{
        margin-left: 44%;
    }
    #sct4 p{
        margin-left: 42%;
    }

    @media screen and (max-width: 340px)  {
        content{
            top:38%;
        }
        #sct1,#sct2,#sct3,#sct4{
            margin-bottom: 15px;
        }
        .sct p{
            top:-59px;
            font-size:21px;
        }
        p.title{
            font-size:30px;
        }
        p.time{
            top:15%;
            font-size:13px;
        }
    }
    @media screen and (min-width: 400px)  {
        content{
            top:38%;
        }
        #sct1,#sct2,#sct3,#sct4{
            margin-bottom: 20px;
        }
        .sct p{
            top:-74px;
            font-size:26px;
        }
    }
}



/*iPhone5 微信页面高度*/
/*iPhone5 手Q页面高度*/
/*iPhone4 微信页面高度*/
/*iPhone4 手Q页面高度*/
