<html><head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="Description" content="信义仓运营数据">
<meta name="Keywords" content="信义仓运营数据">
<meta name="author" content="信义仓">
<title>信义仓运营数据</title>
<!--coolie-->
<link rel="stylesheet" type="text/css" href="../statics/css/css.css">
<!--/coolie-->
</head>
<body>
<div class="section load" id="load">

        <div class="load_in">
            <div class="load_num">
            <img style="width:40%" src="../statics/img/xyc.png">
            <img src="../statics/img/xyc-text.png">
            <img src="../statics/img/line_circle_in.png">
           <!--  <div class="load_data">运营数据</div> -->
            <span id="load_num">0%</span>
            </div>
        </div>
          <div class="circle">
            <img class="circle_move" src="../statics/img/circle.png">
          </div>
          <div class="hill">
            <img class="hill_move" src="../statics/img/hill.png">
          </div>
      
</div>
    <div class="section" id="section" style="display:none">
        <section class="sec sec00" >
            <div class="sec_in">
                <div class="xyc"><img src="../statics/img/btn_1.png"></div>
                <div class="h_earn">
                    <h2 id="operData1">888,888,888&nbsp;元</h2>
                </div>
                <div class="y_ground">
                  <img src="../statics/img/y_ground.png">
                </div>
                <div class="coin1">
                  <img  class="coin_move1" src="../statics/img/coin_1.png">
                </div>
                <div class="coin2">
                  <img  class="coin_move2" src="../statics/img/coin_2.png">
                </div>
                <div class="coin3">
                  <img  class="coin_move3" src="../statics/img/coin_3.png">
                </div>
                <div class="coin4">
                  <img  class="coin_move4" src="../statics/img/coin_4.png">
                </div>
            </div>
            <b class="arrow"></b>
        </section>
         <section class="sec sec01" >
           <div class="sec_in">
               <div class="xyc"><img src="../statics/img/btn_2.png"></div>
                <div class="h_earn">
                    <h2 id="operData2">888,888,888&nbsp;元</h2>
                </div>
                <div>
                    <div class="rocket1">
                      <img class="" src="../statics/img/rocket.png">
                    </div>
                    <div class="cloud">
                     <img class="" src="../statics/img/cloud.png">
                    </div>
                    <div class="rocket2">
                     <img class="rocket_lanch" src="../statics/img/rocket.png">
                    </div>

                </div>
                <div class="fn-clear"></div>
           </div>
           <b class="arrow"></b>
       </section> 
       <section class="sec sec02" >
           <div class="sec_in">
                <div class="xyc"><img src="../statics/img/btn_3.png"></div>
                <div class="h_clock">
                    <div class="fn-fl"><h2 id="operDataDay">640&nbsp;天</h2></div>
                    <div class="fn-fr"><h2 id="operDataTime">10:31</h2></div>
                </div>
              <div class="clock_time">
               <div class="clock"><img  src="../statics/img/clock_bottom.png"></div>
               <div class="pointer"><img class="watch_pointer" src="../statics/img/pointer.png" ></div>
              </div>
           </div>
           <b class="arrow"></b>
       </section> 
       <section class="sec sec03" >
           <div class="sec_in">
               <div class="word"><img class="mission" src="../statics/img/word.png"></div>
              <div class="cup_light">
                 <div class="cup"><img  src="../statics/img/cup.png"></div>
                 <div class="light"><img class="light_pointer" src="../statics/img/light.png" ></div>
              </div>
               <div class="logo_word"><img src="../statics/img/logo_word.png"></div>
           </div>
       </section> 
    </div>
  <div style="display:none;">
         <img class="test-dom" src="../statics/img/btn_1.png">
         <img class="test-dom" src="../statics/img/btn_2.png">
         <img class="test-dom" src="../statics/img/btn_3.png">
         <img class="test-dom" src="../statics/img/circle.png">
         <img class="test-dom" src="../statics/img/clock_bottom.png">
         <img class="test-dom" src="../statics/img/cloud.png">
         <img class="test-dom" src="../statics/img/coin_1.png">
         <img class="test-dom" src="../statics/img/coin_2.png">
         <img class="test-dom" src="../statics/img/coin_3.png">
         <img class="test-dom" src="../statics/img/coin_4.png">
         <img class="test-dom" src="../statics/img/cup.png">
         <img class="test-dom" src="../statics/img/hill.png">
         <img class="test-dom" src="../statics/img/light.png">
         <img class="test-dom" src="../statics/img/line_circle_in.png">
         <img class="test-dom" src="../statics/img/logo_word.png">
         <img class="test-dom" src="../statics/img/pointer.png">
         <img class="test-dom" src="../statics/img/rocket.png">
         <img class="test-dom" src="../statics/img/sp.png">
         <img class="test-dom" src="../statics/img/word.png">
         <img class="test-dom" src="../statics/img/xyc.png">
         <img class="test-dom" src="../statics/img/xyc-text.png">
         <img class="test-dom" src="../statics/img/y_ground.png">
    </div>
<!-- coolie -->
<script type="text/javascript" src="../statics/js/app/rotate.js"></script>
<script type="text/javascript" src="../statics/js/app/motion.js"></script>
<script type="text/javascript" src="../statics/js/app/pagecount.min.js"></script>
<script type="text/javascript" src="../statics/js/app/common.js"></script>
<script type="text/javascript" src="../statics/js/app/main.js"></script>
<!-- /coolie -->
</body></html>